@charset "UTF-8";
body {
  margin: 0;
}

input {
  width: 358.986px;
  height: 44px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

input::-webkit-input-placeholder {
  color: #B1B1B1;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

input:-ms-input-placeholder {
  color: #B1B1B1;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

input::-ms-input-placeholder {
  color: #B1B1B1;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

input::placeholder {
  color: #B1B1B1;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.box {
  width: 100%;
  background-color: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin: 1%;
  position: relative;
  width: 44px;
  height: 38px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.search {
  padding: 0;
  height: 27px;
  width: 26px;
  left: 65%;
  position: relative;
  background-color: #222;
  border: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.search:hover {
  -webkit-box-shadow: 0 12px 16px 0 rgba(250, 245, 245, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 12px 16px 0 rgba(250, 245, 245, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.menu {
  padding: 0;
  height: 23px;
  width: 32px;
  position: relative;
  left: 70%;
  background-color: #222;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  border: 0;
}

.menu:hover {
  -webkit-box-shadow: 0 12px 16px 0 rgba(250, 245, 245, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 12px 16px 0 rgba(250, 245, 245, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.account {
  padding: 0;
  height: 29px;
  width: 29px;
  left: 75%;
  position: relative;
  background-color: #222;
  border: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.account:hover {
  -webkit-box-shadow: 0 12px 16px 0 rgba(250, 245, 245, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 12px 16px 0 rgba(250, 245, 245, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.cart {
  padding: 0;
  height: 32px;
  width: 29px;
  position: relative;
  background-color: #222;
  border: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  left: 80%;
}

.cart:hover {
  -webkit-box-shadow: 0 12px 16px 0 rgba(250, 245, 245, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 12px 16px 0 rgba(250, 245, 245, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.buttons {
  margin-left: 50%;
  width: 158.996px;
  height: 29px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.page-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 148px;
  color: #F8F3F4;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-name-p {
  left: 230px;
  position: relative;
  color: #F16D7F;
  margin: 0;
}

.cart-place .cart-products .product {
  width: 652px;
  height: 306px;
  left: 230px;
  position: relative;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 12px 16px 0 #6f6e6e, 0 17px 50px 0 #6e6e6f47;
          box-shadow: 0 12px 16px 0 #6f6e6e, 0 17px 50px 0 #6e6e6f47;
}

.cart-place .cart-products .product-photo {
  position: relative;
  width: 262px;
  height: 306px;
}

.cart-place .cart-products .product .cross {
  position: relative;
  left: 340px;
  bottom: 270px;
}

.cart-place .cart-products .product .cross:hover {
  fill: #F16D7F;
  -webkit-transition: 1s;
  transition: 1s;
}

.cart-place .cart-products .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 262px;
  width: 390px;
  height: 306px;
  bottom: 310px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
}

.cart-place .cart-products .product-info-name {
  width: 200px;
  margin: 22px 0 42px 31px;
  color: #222;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart-place .cart-products .product-info-price, .cart-place .cart-products .product-info-color, .cart-place .cart-products .product-info-size, .cart-place .cart-products .product-info-quantity {
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 6px 31px;
}

.cart-place .cart-products .product-info-price span, .cart-place .cart-products .product-info-color span, .cart-place .cart-products .product-info-size span, .cart-place .cart-products .product-info-quantity span {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart-place .cart-products .product-info-price span {
  left: 50px;
  color: #EF5B70;
}

.cart-place .client-data {
  position: relative;
  left: 1200px;
  bottom: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  gap: 30px;
}

.cart-place .client-data-input2::-webkit-input-placeholder {
  color: #222;
}

.cart-place .client-data-input2:-ms-input-placeholder {
  color: #222;
}

.cart-place .client-data-input2::-ms-input-placeholder {
  color: #222;
}

.cart-place .client-data-input2::placeholder {
  color: #222;
}

.cart-place .client-data-button {
  width: 101.408px;
  height: 35px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid;
  border-color: #4A4A4A;
  color: #4A4A4A;
}

.cart-place .client-data-button:hover {
  color: #FFF;
  background-color: #4A4A4A;
  -webkit-transition: 1s;
  transition: 1s;
}

.cart-place .client-data-button-placeholder {
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.cart-place .client-data-total-cost {
  background-color: #F5F3F3;
  width: 360px;
  height: 214px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.cart-place .client-data-total-cost-sub-total-price {
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 39px 34px 0 218px;
}

.cart-place .client-data-total-cost-total-price {
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 12px 37px 0 153px;
}

.cart-place .client-data-total-cost-total-price span {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cart-place .client-data-total-cost .client-data-total-cost-proceed-to-checkout {
  width: 273px;
  height: 50px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 39px 43px 42px 44px;
  background-color: #F16D7F;
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 0;
}

.cart-place .client-data-total-cost .client-data-total-cost-proceed-to-checkout:hover {
  color: #F16D7F;
  background-color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

.footer {
  position: relative;
}

.footer .e-mailSubs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
}

.footer .photo_and_quote {
  width: 15%;
  margin-top: 2%;
  margin-left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .photo {
  height: 94px;
  width: 94px;
  border-radius: 100px;
}

.footer .quote {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer .e-mail {
  margin-left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  border-radius: 100px;
  height: 14%;
}

.footer .SUBS {
  margin: 0;
  margin-top: 20%;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.footer .subs {
  margin: 0;
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.footer .deep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 12%;
  background-color: #000;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer .sign {
  position: relative;
  left: 15%;
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*@media screen { //1024х768
    
    .header{
        .search{
            left: 20%;
        }
        .menu{
            left: 30%;
        }
        .account{
            left: 40%;  
        }
        .cart{
            left: 50%;
        }
    }
    .cart-place{
        height: 670px;
        .cart-products{
            
            .product{
                width: 512px;
                height: 306px;
                left: 40px;
                .cross{
                    left: 220px;
                }
    
            }
        }
        .client-data{
            left: 610px;
            bottom: 640px;
        }
    }
}*/
@media screen {
  input {
    width: 96%;
  }
  .header .search {
    left: 20%;
  }
  .header .menu {
    left: 30%;
  }
  .header .account {
    left: 40%;
  }
  .header .cart {
    left: 50%;
  }
  .cart-place {
    height: 670px;
  }
  .cart-place .cart-products {
    width: 50%;
  }
  .cart-place .cart-products .product {
    width: 100%;
    left: 40px;
  }
  .cart-place .cart-products .product .product-photo {
    width: 45%;
    height: 100%;
  }
  .cart-place .cart-products .product .product-info {
    left: 45%;
  }
  .cart-place .cart-products .product .product-info-name {
    margin: 42px 0 42px 11px;
  }
  .cart-place .cart-products .product .cross {
    left: 46%;
  }
  .cart-place .client-data {
    left: 60%;
    bottom: 100%;
  }
  .cart-place .client-data .client-data-total-cost {
    width: 110%;
  }
  .cart-place .client-data .client-data-total-cost-sub-total-price {
    margin: 39px 34px 0 45%;
  }
  .cart-place .client-data .client-data-total-cost-total-price {
    margin: 12px 37px 0 35%;
  }
  .cart-place .client-data .client-data-total-cost .client-data-total-cost-proceed-to-checkout {
    width: 70%;
    margin: 5% 10%;
  }
}
/*# sourceMappingURL=cart.css.map */